<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf</string>
		<string>Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf</string>
		<string>PlusJakartaSans-Italic-VariableFont_wght.ttf</string>
		<string>PlusJakartaSans-VariableFont_wght.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Stesura Recipe</string>
			<key>UTTypeIdentifier</key>
			<string>com.stesura.recipe</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
				<string>public.data</string>
			</array>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>stesura</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Stesura Recipe</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.stesura.recipe</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
</dict>
</plist>
